@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../node_modules/@melv1c/ui-core';
@source '../../../packages/ui/src';

/* Import base theme structure */
@import '@melv1c/ui-core/base.css';

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #18181b;
  --chart-1: #e11d48;
  --chart-2: #f97316;
  --chart-3: #eab308;
  --chart-4: #22c55e;
  --chart-5: #3b82f6;
  --sidebar: #fbfbfc;
  --sidebar-foreground: #3f3f46;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #18181b;
  --radius: 0.5rem;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;
  --chart-1: #f43f5e;
  --chart-2: #fb923c;
  --chart-3: #facc15;
  --chart-4: #4ade80;
  --chart-5: #60a5fa;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #d4d4d8;
  --sidebar-primary: #fafafa;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #27272a;
  --sidebar-ring: #d4d4d8;
}
