@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../node_modules/@melv1c/ui-core';
@source '../../../packages/ui/src';

/* Import base theme structure */
@import '@melv1c/ui-core/base.css';
@import '@melv1c/ui-core/themes/default.css';
